body {
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
  background: url('https://source.unsplash.com/1600x900/?landscape') center/cover no-repeat;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.card {
  background: #000000d0;
  color: white;
  padding: 2%;
  border-radius: 30px;
  width: 90%;
  max-width: 350px;
  margin: 1%;
}

.search_box {
  display: flex;
  justify-content: space-between;
}

.search_bar {
  flex: 1;
  outline: none;
  border: 1px solid gray;
  color: white;
  font-weight: 500;
  background-color: black;
  border-radius: 200px;
  padding: 0.5em 1em;
}

#searchbtn {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: none;
  margin-left: 1em;
}

.work {
  text-align: left;
  margin-left: 15px;
}

.img {
  display: flex;
  justify-content: flex-start; /* Left align icon */
  margin-top: -30px;
}

.icon {
  margin-right: 10px; /* Adjusted margin for icon */
}

.description {
  text-transform: capitalize;
  margin-left: 10px; /* Adjusted margin for description */
}

/* Media Query for 400px */
@media screen and (max-width: 400px) {
  .card {
      width: 95%;
      max-width: none;
  }

  .search_bar {
      margin-right: 0.5em;
  }
}
