body{
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background-image: url('https://source.unsplash.com/1600x900/?landscape');
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.search_box{
  display: flex;
  border: none;
  padding: none;
}
#searchbtn:hover{
  cursor:pointer;
}

.card {
    background: #000000d0;
    color: white;
    padding: 2%;
    border-radius: 30px;
    width: 100%;
    max-width: 300px;
    margin: 1%;
  }
  input.search_box{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    
  }
.search_bar{
  width: 200px;
  outline: none;
  
     border: 1px solid gray;
    
    color: white;
    font-weight: 500;
  
    background-color: black;
    justify-content: center;
    display: flex;
    border-radius: 200px;
    align-items: center;
    padding-left: 1em;
}  
#searchbtn{
    border-radius: 50%;
    width: 10px;
    height: 25px;
    border: none;
}

.img{
  display: flex;
  align-items: center;
  margin-top: -30px;
  margin-left: -15px;
}
button:hover {
    cursor: pointer;
    background: peru;
  }
button{
    margin-left: 5px;
    border-radius: 8px;
    width: 30px;
    height: 30px;
    background: none;
}
.description{
  text-transform: capitalize;
}